*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bgcolor{
    background-color: aqua;
    height: 100vh;
}
button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px, -50px);
    padding: 15px 30px;
}
.btn2{
    top: 58%;
    left: 49%;
    padding: 10px 50px;
}
p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px, -50px);
    padding: 15px 30px;
}